<h5 class="pb-1 mb-4">Overview</h5>

<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="card bg-primary text-white mb-3">
      <div class="card-header">Total Users</div>
      <div class="card-body">
        <h5 class="card-title text-white"><%= @user_count %></h5>
        <p class="card-text">Registered Users</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-header">Total Categories</div>
      <div class="card-body">
        <h5 class="card-title text-white"><%= @category_count %></h5>
        <p class="card-text">Available Pet Categories</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card bg-success text-white mb-3">
      <div class="card-header">Total Breeds</div>
      <div class="card-body">
        <h5 class="card-title text-white"><%= @breed_count %></h5>
        <p class="card-text">Distinct Breeds</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card bg-warning text-white mb-3">
      <div class="card-header">Total Pets</div>
      <div class="card-body">
        <h5 class="card-title text-white"><%= @pet_count %></h5>
        <p class="card-text">Pets Available for Adoption</p>
      </div>
    </div>
  </div>
</div>
